<!-- the navbar -->
<div class="container-fluid bg-light  border-bottom shadow-sm">
    <div class="container">
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">
                        <a class="navbar-brand text-monospace fw-bold" href="/">ST8-Node</a>
                        <% if (typeof user !=='undefined' ) { %>
                            <button class="btn btn-dark" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-menu"
                                aria-controls="offcanvas-menu">
                                <i class="fa-solid fa-bars"></i>
                            </button>
                            <% } %>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <!-- hidden offcanvas element for menu -->
    <div class="menuSpace">
        <div class="offcanvas offcanvas-end menuSpace" tabindex="-1" id="offcanvas-menu"
            aria-labelledby="offcanvas-menuLabel" data-bs-scroll="true">
            <div class="offcanvas-header">
                <div>
                    <% if (typeof user !=='undefined' ) { %>

                        <p class="fw-bold"> Hi, <%= user.fullname %>
                        </p>
                        <% } %>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">

                <% if (typeof user !=='undefined' ) { %>

                    <% if (user.role==='super_admin') { %>
                        <div class="list-group">

                            <a class="list-group-item list-group-item-action" href="#">Dashboard</a>
                            <a class="list-group-item list-group-item-action" href="#">Change Password</a>
                            <a class="list-group-item list-group-item-action" href="#">Requests</a>
                            <a class="list-group-item list-group-item-action" href="#">Invoice</a>
                            <a class="list-group-item list-group-item-action" href="#">Settlement</a>
                            <a class="list-group-item list-group-item-action" href="/v1/chief/register">Register New User</a>

                            <a class="list-group-item list-group-item-action" href="/v1/chief/users">Get All Users</a>
                            <a class="list-group-item list-group-item-action" href="/v1/chief/managedomains">Manage Domains</a>
                            <a class="list-group-item list-group-item-action" href="#">Manage Sub Domains</a>

                            <a class="list-group-item list-group-item-action" href="#">Manage Debir Requests</a>

                            <a class="list-group-item list-group-item-action" href="/v1/chief/manageGames">Manage Games</a>
                            <a class="list-group-item list-group-item-action" href="#">Report</a>
                            <a class="list-group-item list-group-item-action" href="#">Revenue</a>
                            <a class="list-group-item list-group-item-action" href="/v1/chief/logout">Logout</a>
                        </div>

                        <% } else { %>

                            <div class="list-group">

                                <a class="list-group-item list-group-item-action" href="#">Dashboard</a>
                                <a class="list-group-item list-group-item-action" href="/v1/chief/user/Changepassword/<%=user.id%>">Change Password</a>
                                <a class="list-group-item list-group-item-action" href="#">Settlement</a>
                                <a class="list-group-item list-group-item-action" href="/v1/chief/manageGames">Manage Games</a>
                                <a class="list-group-item list-group-item-action" href="#">Report</a>
                                <a class="list-group-item list-group-item-action" href="#">Revenue</a>
                                <a class="list-group-item list-group-item-action" href="/v1/chief/logout">Logout</a>
                            </div>
                            <% } %>
                                <% } %>


            </div>
        </div>
    </div>
</div>

</div>