<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Login</title>
</head>

<body>
    <%- include('./partials/nav') %>

        <div class="container mt-4">
            <div class="row">

                <div class="col-12">
                    <!-- sample table -->

                    <% if (user.role==='super_admin' ) { %>
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <!-- Card 1 -->
                            <div class="col">
                                <div class="card customize-card">
                                    <div class="card-body justify">
                                        <div class="sub-card">
                                            <h3>88</h3>
                                            <h4>Total Admins</h4>
                                        </div>
                                        <i class="fa-solid fa-people-group"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- Card 2 -->
                            <div class="col">
                                <div class="card customize-card">
                                    <div class="card-body justify">
                                        <div class="sub-card">
                                            <h3>88</h3>
                                            <h4>Total Domains</h4>
                                        </div>
                                        <i class="fa-solid fa-cubes-stacked"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- Card 3 -->
                            <div class="col">
                                <div class="card customize-card">
                                    <div class="card-body justify">
                                        <div class="sub-card">
                                            <h3>88</h3>
                                            <h4>Total Sub Admins</h4>
                                        </div>
                                        <i class="fa-solid fa-people-roof"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- Card 4 -->
                            <div class="col">
                                <div class="card customize-card">
                                    <div class="card-body justify">
                                        <div class="sub-card">
                                            <h3>88</h3>
                                            <h4>Total Providers</h4>
                                        </div>
                                        <i class="fa-solid fa-hand-holding-hand"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- Card 5 -->
                            <div class="col">
                                <div class="card customize-card">
                                    <div class="card-body justify">
                                        <div class="sub-card">
                                            <h3>88</h3>
                                            <h4>Total Categories</h4>
                                        </div>
                                        <i class="fa-solid fa-layer-group"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } else { %>
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <!-- Card 1 -->
                                <div class="col">
                                    <div class="card customize-card">
                                        <div class="card-body justify">
                                            <div class="sub-card">
                                                <h3>88</h3>
                                                <h4>Total Domains</h4>
                                            </div>
                                            <i class="fa-solid fa-people-group"></i>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card 2 -->
                                <div class="col">
                                    <div class="card customize-card">
                                        <div class="card-body justify">
                                            <div class="sub-card">
                                                <h3>88</h3>
                                                <h4>Share</h4>
                                            </div>
                                            <i class="fa-solid fa-percent"></i>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card 3 -->
                                <div class="col">
                                    <div class="card customize-card">
                                        <div class="card-body justify">
                                            <div class="sub-card">
                                                <h3>88</h3>
                                                <h4>Deposit Amount</h4>
                                            </div>
                                            <i class="fa-solid fa-dollar-sign"></i>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card 4 -->
                                <div class="col">
                                    <div class="card customize-card">
                                        <div class="card-body justify">
                                            <div class="sub-card">
                                                <h3>88</h3>
                                                <h4>Left Balance</h4>
                                            </div>
                                            <i class="fa-solid fa-wallet"></i>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card 5 -->
                                <div class="col">
                                    <div class="card customize-card">
                                        <div class="card-body justify">
                                            <div class="sub-card">
                                                <h3>88</h3>
                                                <h4>Total Revenue</h4>
                                            </div>
                                            <i class="fa-sharp-duotone fa-solid fa-sack-dollar"></i>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card 6 -->
                                <div class="col">
                                    <div class="card customize-card">
                                        <div class="card-body justify">
                                            <div class="sub-card">
                                                <h3>88</h3>
                                                <h4>Current Month Revenue</h4>
                                            </div>
                                            <i class="fa-solid fa-hand-holding-dollar"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>


                </div>
            </div>
        </div>
        <%- include('./partials/scripts') %>

</body>

</html>