.error-message {
    color: red;
}

.is-invalid {
    border-color: red;
}

.is-valid {
    border-color: green;
}


#gameCartegoryImage {
    height: 80px;
    width: 100px;

    max-height: 100px;
    max-width: 100px;
}

#imageContainer img {

    position: relative;
    left: 7px;
}

#gameStatus {
    text-transform: capitalize;
}

.section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.section a{
    background: #c4c4d5;
    width: 100px;
    height: 35px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    color: black;
    position: relative;
    bottom: -15px;
    left: 10px;

}

.div{
    position: relative;
    top: 25px;
    right: 7rem;
    padding: 0 15px;
    display: flex;
    justify-content: end;
}

body::-webkit-scrollbar{
    display: none;

}


.card-body{

    box-shadow: 6px 10px 15px 2px;


}

.card{
    margin-bottom: 20px;
}