.error-message {
    color: red;
}

.is-invalid {
    border-color: red;
}

.is-valid {
    border-color: green;
}


#gameCartegoryImage {
    height: 80px;
    width: 100px;

    max-height: 100px;
    max-width: 100px;
}

#imageContainer img {

    position: relative;
    left: 7px;
}

#gameStatus {
    text-transform: capitalize;
}

.section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.section a{
    font-weight: 700;
}

.div{
    position: relative;
    top: 25px;
    right: 7rem;
    padding: 0 15px;
    display: flex;
    justify-content: end;
}

body::-webkit-scrollbar{
    display: none;

}

.card{
        margin-bottom: 20px;
}